body {
    font-family: 'Libre Baskerville', serif;
}

// HEADER

.header__main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;   
}

#header__content {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.weather {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.342857px;

    img {
        margin-right: 120px;
    }

    & p1 {
        list-style: none;
        display: flex;
        justify-content: left;
        // float: right;
        padding: 0;
        margin: 0;
        color: #003B5C;
        margin-left: 110px;
    }

    & p2 {
        color: rgba(93, 83, 79, 0.6);
    }

    & hr {
        width: 100%;
        background-color: rgba(227, 218, 204, 0.5);
        border: 1px;
        float: center;
    }
}

#weather__col {
    margin: 10px;
    width: 300px;
    float: left;
}

#logo__col {
    margin: 10px;
    width: 300px;
    float: left;
    margin-left: 7%;
}

#menu__col {
    margin: 10px;
    width: 300px;
}

.header__logo {
    text-align: center;
}

.header__menu {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.342857px;
    color: #003B5C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  

    .nav__list {
        list-style: none;
        justify-content: center;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .nav__link {
        color: blue;
        text-decoration: none;
        text-transform: uppercase; 
    }

    .nav__item {
        margin: 0px 10px;
        display: inline; 
    }

    .nav__logo {
        height: 17px;
        width: 17px;
        left: 1197px;
        top: 46px;
        border-radius: 0px;
    }
}

.categorie {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.342857px;
    color: #003B5C;
    margin-left: 4%;

    & a {
        text-decoration: none;
        margin-left: 2%;
    }
}

// ARTICLE

.article {
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    display: flex;

    .article__lifestyle {
        margin-right: 20%;
    }

    .article__auto {
        margin-right: 20px;
    }

    .article__auto h4 {
        width: 90%;
    }

    .article__texte__auto {
        .btn__after__auto {
            margin-left: 38%;
        }
    }

    .article__theme__auto {
        width: 57%;
        background: white;
        display: inline-flex;
        margin-left: 15%;
    }

    .article__theme__auto a {
        margin-left: 40%;
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #003B5C;
        text-decoration: none;
        font-size: 10px;
    }

    .article__theme__auto p {
        margin-top: 0%;
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #5D534F;
        text-decoration: none;
        font-size: 10px;
    }

    .article__texte__auto h4 {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #003B5C;
        text-decoration: none;
        font-size: 36px;
        font-weight: 400;
    }

    .article__texte__auto p {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #5D534F;
    }

    .article__theme__life {
        width: 57%;
        background: white;
        display: inline-flex;
        margin-left: 15%;
    }

    .article__theme__life a {
        margin-left: 40%;
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #003B5C;
        text-decoration: none;
        font-size: 10px;
    }

    .article__theme__life p {
        margin-top: 0%;
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #5D534F;
        text-decoration: none;
        font-size: 10px;
    }

    .article__texte {
        width: 60%;
        background: white;
        display: block;
    }

    .article__texte__life h4 {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: #003B5C;
        text-decoration: none;
        font-size: 36px;
        font-weight: 400;
    }

    .article__texte__life p {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #5D534F;
    }

    .article__texte__life {
        .btn__after__life {
            margin-left: 38%;
        }
    }
        
}

// GRID

.montre__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}

.auto__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}

.life__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}

.sports__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}

// NEWSLETTER

// FOOTER

.footer__main{
    background-color:rgba(231, 72, 50, 1);

    img {
        margin-left: 15px;
    }
    
    .footer__logo {
        margin-right: 25px;
        margin-top: 75px;
        float: right;
    }

    & hr {
        width: 1276px;
        border: 2px solid rgba(227, 218, 204, 0.5);
        margin-top: 15px;
    }

    & p {
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        font-size: 12.031px;
        line-height: 15px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}